@font-face {
    font-family: 'FiraSans';
    src: url(FiraSans-Regular.ttf);
    font-size: 400px;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url(FiraSans-Medium.ttf);
    font-size: 500px;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url(FiraSans-Bold.ttf);
    font-size: 700px;
    font-style: normal;
}